body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #353232;
    margin: 0;
    padding: 0;
  }
  
  .hidden {
    display: none;
  }
  
  #start-screen {
    margin-top: 20%;
  }
  
  #start-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #start-button:hover {
    background-color: #0056b3;
  }
  
  #game-screen {
    margin-top: 20px;
  }
  
  canvas {
    border: 1px solid black;
    background-color: #fff;
  }
  
  #keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  #keyboard button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #keyboard button:hover {
    background-color: #0056b3;
  }
  
  #timer {
    font-size: 18px;
    color: #333;
  }
  